.DS_Store
alacritty
python
tmux
yarn
packer_compiled.lua
clangd
configstore
github-copilot
iterm2
jgit
kitty
lazygit/state.yml
raycast
shell_gpt
skhd
tmux
yabai
qihoo-vpn
nvim/lazy-lock.json
nvim/lazyvim.json
surgeProfile/socloud.conf
surgeProfile/tag.conf
